.button {
  outline: none;
}

.buttonA {
  background-color: #46139f !important;;
  margin-right: 50px;
  border: none !important;
}

.buttonB {
  background-color: #ff7f50 !important;
  border: none !important;
}

.buttonC {
  background: white !important;
  border: 1px solid#46139f !important;
  color: #000000 !important;
  margin-left: 50px;
}